#root {
  max-width: 100%;
  margin: 0 0;
  padding: 0;
  text-align: center;
}

.header {
  width:100%;
  min-height:100px;
  background-color:#000;
}

.logo {
  position: absolute;
  margin:.5em;
}
.logo h1 {
  font-size:2.8em;
  margin:0;
  padding:0;
  line-height: 1;
  margin-block-start:0;
  margin-block-end:0;
}
.logo h2 {
  font-size:2.5em;
  margin:0;
  padding:0;
  margin-block-start:0;
  margin-block-end:0;
}

.context-group {
  margin-top: 1em;
  width:100%;
}

.context-group span {
  background: #000000;
  border: 1px solid #FFFFFF;
  margin: .2em;
  display:inline-block;
  width: 100%;
}

.context-group-button {
  margin-bottom: .4em;
  width: 100%;
}

.context-group-button-active {
  background: #FFFFFF;
  border: 1px solid #000000;
  color: #000000;
}

.sections {
  
  margin: 0;
  padding: 0;
  margin-top:2em;
}

.section {
  background: #000000;
  border: 2px solid #FFFFFF;
  margin:1em;
  width: calc(100% - 2em);
  overflow-y: scroll;
  height: 400px;
  
}

 /* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eeeeee;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eeeeee;
}


.sectionHeader {
  text-align: left;
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
  /* width is 100% minus padding */
  width: calc(100% - 2em);
}

.sectionHeader h1 {
  display: inline;
  text-align: left;
}

.sectionHeader button {
  display:inline;
  margin-top: .5em;
  margin-left: .5em;
  float:right;
}

.sectionWrapper {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.scene_wrapped {
  width: 66.66%!important;
}


.character_wrapped {
  width: 33.333%!important;
}


.object_wrapped {
  width: 33.33%!important;
}

.npc_wrapped {
  width: 33.33%!important;
}

.mob_wrapped {
  width: 33.33%!important;
}

.context_wrapped {
  width: 20%!important;
}

.generator_wrapped {
  width: 40%!important;
}

.importButton, .exportButton {
  margin: 1em;
  float: right;
  margin-top: 2em;
}

.base {
  position: absolute;
  /* center this div */
  left: 50%;
  /* bring it to the center of the screen */
  transform: translate(-50%, 0%);
  min-width:100px;
  border: 1px solid #FFFFFF;
  top: 2em;
}

.baseLabel {
  font-size:1em;
  margin: 0;
  padding-left: .5em;
  padding-right: .5em;
  vertical-align: middle;
}

.baseInput {
  font-size:1em;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  margin: 0;
  padding: .5em;
  background-color: #000;
}

.baseButton {
  font-size:1em;
  margin: 0;
  padding: .5em;
  border: 0;
}

.entity {
  text-align: left;
  margin: .5em;
  border-bottom: 1px white solid;
}

.entity h1 {
  font-size:1.2em;
  margin: 0;
  padding: 0;
  margin-block-start:0;
  margin-block-end:0;
}

.entity h2 {
  font-size:1em;
  margin: 0;
  padding: 0;
  margin-block-start:0;
  margin-block-end:0;
}

.entity p {
  font-size:1em;
  margin-top: 0;
  margin-bottom: 0;
}

.entity button {
  padding: 0;
  border: 0;
  margin-right: 1em;
  font-weight: bold;
  background: none;
}

.context-group-button {
  display: inline-block;
  margin-right: .5em;
}

.output_wrapped {
  width: 80%;
}